# .env.example

# --- CORE DJANGO SETTINGS ---
# ВНИМАНИЕ: Для production-среды этот ключ ДОЛЖЕН БЫТЬ заменен на уникальный и сложный!
# Этот ключ используется только для локальной разработки.
SECRET_KEY='django-insecure-a_j]tr-qy--nd-jdd&4*iz-j]jrgjis_*x&im'

# Режим отладки. Установите 'False' для production.
DEBUG=True


# --- DATABASE SETTINGS (PostgreSQL) ---
# Эти настройки предназначены для работы с Docker Compose.
# При локальном запуске без Docker, DB_HOST нужно будет изменить на 'localhost' или '127.0.0.1'.
DB_ENGINE=django.db.backends.postgresql
DB_NAME=furniture_db
DB_USER=furniture_user
DB_PASSWORD=strongpassword
DB_HOST=db
DB_PORT=5432


# --- CELERY & REDIS SETTINGS ---
# URL для подключения к брокеру сообщений Redis (для Celery).
CELERY_BROKER_URL=redis://redis:6379/0

# URL для хранения результатов выполнения задач Celery.
CELERY_RESULT_BACKEND=redis://redis:6379/0