{% extends 'base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto bg-white p-8 lg:p-12 rounded-2xl shadow-lg prose lg:prose-xl">
    <h1 class="text-center" style="color: var(--lavender-deep);">{{ page_title }}</h1>
    
    <p class="lead">Используя наш сайт, вы соглашаетесь с настоящими Условиями использования. Пожалуйста, внимательно ознакомьтесь с ними.</p>
    
    <h2>Использование сайта</h2>
    <p>Вы соглашаетесь использовать сайт только в законных целях и таким образом, чтобы не нарушать права, не ограничивать и не препятствовать использованию сайта другими лицами. Запрещенное поведение включает в себя преследование или причинение неудобств любому другому пользователю, передачу непристойного или оскорбительного контента.</p>

    <h2>Интеллектуальная собственность</h2>
    <p>Все материалы на этом сайте, включая текст, графику, логотипы, изображения и программное обеспечение, являются собственностью Domus Aurea или ее поставщиков контента и защищены международными законами об авторских правах. Вы не можете воспроизводить, изменять, распространять или переиздавать что-либо с этого сайта без нашего предварительного письменного согласия.</p>
    
    <h2>Ограничение ответственности</h2>
    <p>Мы стремимся предоставлять точную и актуальную информацию, однако не можем гарантировать ее полноту и безошибочность. Domus Aurea не несет ответственности за любые убытки или ущерб, возникшие в результате использования информации, представленной на этом сайте.</p>

    <h2>Изменения в Условиях</h2>
    <p>Мы оставляем за собой право вносить изменения в настоящие Условия использования в любое время. Любые изменения вступают в силу немедленно после их публикации на сайте. Ваше дальнейшее использование сайта после внесения изменений означает ваше согласие с ними.</p>
</div>
{% endblock %}